body, * {
  padding: 0;
  margin: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #FECB6E;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container--wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 800px;
  height: 550px;
  border-radius: 10px;
  overflow: hidden;
}

.content--left, .content--right {
  background-color: #F2F2F2;
}

.content--left--title-wrapper, .content--right--title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 30px 0;
}

.content--left--title-wrapper--title, .content--right--title-wrapper--title {
  color: #7B7F8D;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 18px;
}

.content--left--title-wrapper--icon, .content--right--title-wrapper--icon {
  margin-left: auto;
}

.content--left--title-wrapper--price, .content--right--title-wrapper--price {
  margin-left: auto;
  font-size: 24px;
  color: #444750;
}

.content--left--card, .content--right--card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 30px 0;
  padding: 10px 0 10px 0;
  border: 2px solid #a3a3da;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content--left--card--list, .content--right--card--list {
  border: none;
  border-style: solid;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-color: #F2F2F2;
}

.content--left--card--list--item, .content--right--card--list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 30px;
}

.content--left--card--list--item--icon, .content--right--card--list--item--icon {
  padding: 0px 7px 2px;
  border: 1px solid #e0dede;
  border-radius: 999px;
  color: #615e5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content--left--card--list--item--texts, .content--right--card--list--item--texts {
  margin: 0 14px;
  text-transform: capitalize;
}

.content--left--card--list--item--texts--title, .content--right--card--list--item--texts--title {
  color: #313131;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 500;
}

.content--left--card--list--item--texts--sub, .content--right--card--list--item--texts--sub {
  color: #B4B4B4;
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
}

.content--left--card--list--item--price, .content--right--card--list--item--price {
  margin-left: auto;
  color: #8998CA;
}

.content--left--card--list--item--price--addition, .content--right--card--list--item--price--addition {
  color: #6ACA3F;
}

.content--left--card--amex, .content--left--card--master, .content--right--card--amex, .content--right--card--master {
  border-color: #E3E3E3;
}

.content--left--card--icon, .content--right--card--icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #4CA0D9;
  width: 50px;
  border-radius: 2px;
  margin: 10px 0 0 10px;
}

.content--left--card--icon--amex, .content--right--card--icon--amex {
  background-color: #6ACCFC;
}

.content--left--card--icon--master, .content--right--card--icon--master {
  background-color: #E5E5E5;
}

.content--left--card--number, .content--right--card--number {
  color: #888888;
  font-size: 14px;
  margin: 10px 0 0 10px;
}

.content--left--card--data, .content--right--card--data {
  color: #b9b9b9;
  text-transform: capitalize;
  font-size: 14px;
  margin: 2px 0 0 10px;
}

.content--right {
  background-color: white;
}
/*# sourceMappingURL=style.css.map */